@model IEnumerable<Avonale_Web.Models.Repositorio>

<h2>Buscar repositórios</h2>

<div class="form-group input-group">
    <form class="navbar-form">
        <input class="form-control" name="filtro" />
        <input class="btn btn-outline-dark" type="submit" id="btn_procura" value="Filtrar" />
        <label class="radio-inline"><input type="radio" name="opcao" value="true" checked>Busca exata</label>
        <label class="radio-inline"><input type="radio" name="opcao" value="false">Busca por parte</label>
    </form>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.name, "Detalhar", "Repositorios", new { filtro = item.name }, null)
                        </td>
                        <td>
                            @item.description
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
